body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#ff9a9e,#fad0c4);
text-align:center;
overflow:hidden;
}

.container{
margin-top:120px;
background:white;
width:500px;
padding:40px;
border-radius:20px;
margin-left:auto;
margin-right:auto;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
animation:fadeIn 2s;
}

h1{
color:#ff4081;
font-size:40px;
}

button{
padding:12px 25px;
background:#ff4081;
color:white;
border:none;
border-radius:30px;
cursor:pointer;
font-size:18px;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
background:#e91e63;
}

.gallery{
display:none;
margin-top:20px;
}

.gallery img{
width:150px;
margin:10px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.3);
transition:0.4s;
}

.gallery img:hover{
transform:scale(1.2);
}

.balloon{
width:60px;
height:80px;
background:red;
border-radius:50%;
position:absolute;
bottom:-100px;
animation:float 6s infinite;
}

.b1{ left:10%; background:#ff4d4d;}
.b2{ left:50%; background:#4dd2ff;}
.b3{ left:80%; background:#ffd633;}

@keyframes float{
0%{ transform:translateY(0);}
100%{ transform:translateY(-1000px);}
}

@keyframes fadeIn{
from{opacity:0; transform:translateY(40px);}
to{opacity:1; transform:translateY(0);}
}
.gallery img{
width:200px;
height:200px;
object-fit:cover;
border-radius:15px;
}